* {
  box-sizing: border-box;
}

nav {
 background-color: salmon;
 padding-top: 3px;
 padding-bottom: 3px;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 300%;
  margin-top: 2%;
}

main h1{
  text-align: center;
  margin-bottom: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
  display: flex;
  justify-content: space-around;
  margin: 8% 0% 2% 0%;
  background-color: aqua;
  border: 3px black inset;
}
  

div img{
width: 25%;

}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

a{
  margin-top: 7px;
}

nav img{
  width: 4%;
  border: 1px black solid;
}

body{
  background-color: skyblue;
  border: 10px salmon inset;
}

#Table {
  display: flex;
  justify-content: center;
  
}

table {
  font-size: larger;
  margin-bottom: 10%;
}

tr, th, td {
  border: 2px black solid;
  padding: 5px;
  
}

article{
  margin-bottom: 5%;
  border: 3px black solid;
  margin-right: 55%;
  margin-left: 2%;
  background-color: lightblue;
}

h2 {
  font-size: 250%;
  font-style: underline;
  margin: auto auto 2% 1%;
}
h3 {
  font-size: 150%;
  margin: auto auto 1% 1%;
}

li{
  margin: 2% auto 2% 5%;
  font-size: 125%;
}

main img {
  float: right;
  margin-right: 5%;
  border: 3px black solid;
}

footer {
  display: flex;
  justify-content: space-around;
  border: 10px salmon inset;
  padding: 3%;
}

footer img{
  border: 3px black solid;
}

#shirt {
width: 300px;
height: 400px;
}

#family{
  width: 600px;
}

p{
  text-align: center;
  margin-bottom: 3%;
  font-size: larger;
}

label{
  display: block;
  margin-bottom: 1%;
}

legend{
  margin-bottom: 1%;
  font-size: larger;
}